<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.droidsonroids.foqa">

    <application android:supportsRtl="true">
        <provider
            android:name=".HyperionDisableProvider"
            android:authorities="${applicationId}.hyperionDisableProvider"
            android:exported="false"
            android:initOrder="-2147483648" />
    </application>
</manifest>